<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>引导页</title>
<script>
var app = navigator.appName;
var appCodeName = navigator.appCodeName;
var platform = navigator.platform;
var agent = navigator.userAgent; 

window.onload = function () {
	var stbParams = "";
	
	if (typeof (iPanel) != undefined && navigator.userAgent.indexOf("EIS") < 0) {
		stbParams = "<br />STBModel="+SysInfo.STBModel;
	} else {
		stbParams = "<br />socType="+iPanel.System["socType"];
	}
	
	var width = window.innerWidth;
	var height = window.innerHeight;
	
	var info =  "appName=" + app 
				+ "<br />appCodeName=" + appCodeName 
				+ "<br />platform=" + platform
				+ stbParams
				+ "<br />userAgent=" + agent
				+ "<br />width=" + width
				+ "<br />height=" + height; 
	document.getElementById("div1").innerHTML = info;
}

</script>
</head>
<body>
机顶盒中间件信息：
<div id="div1" style="margin:100px;"></div>
</body>
</html>

