<layout name="layout" />
<style type="text/css">
    body{ background-image:url(__HD__/images/common/bg.jpg); }
    
    /* 左上角栏目logo */
    .ch_logo{
        position: absolute;
        display: block;
        top:30px;
        left:85px;
        width: 235px;
        height: 90px;
        background: url(__HD__/images/course/kinder/class/ch_logo.png) no-repeat;
    }
</style>

<script type="text/javascript">


var buttons=
	[
        /*年级*/
	 	{id:'small_class',name:'',action:'',linkImage:'__HD__/images/course/kinder/small_class.png',focusImage:'__HD__/images/course/kinder/small_class_over.png',selectBox:'',left:'',right:'middle_class',up:'',down:'course_1'},
        {id:'middle_class',name:'',action:'',linkImage:'__HD__/images/course/kinder/middle_class.png',focusImage:'__HD__/images/course/kinder/middle_class_over.png',selectBox:'',left:'small_class',right:'big_class',up:'',down:'course_1'},
        {id:'big_class',name:'',action:'',linkImage:'__HD__/images/course/kinder/big_class.png',focusImage:'__HD__/images/course/kinder/big_class_over.png',selectBox:'',left:'middle_class',right:'course_1',up:'',down:'course_1'},
        
        /* 课程列表 */
        {id:'course_1',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:'small_class',right:'course_2',up:'small_class',down:'course_6'},
		{id:'course_2',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:'course_1',right:'course_3',up:'small_class',down:['course_7','course_6']},
		{id:'course_3',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:'course_2',right:'course_4',up:'small_class',down:['course_8','course_7','course_6']},
		{id:'course_4',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:'course_3',right:'course_5',up:'small_class',down:['course_9','course_8','course_7','course_6']},
		{id:'course_5',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:'course_4',right:'course_6',up:'small_class',down:['course_10','course_9','course_8','course_7','course_6']},
		{id:'course_6',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:'course_5',right:'course_7',up:'course_1',down:''},
        {id:'course_7',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:'course_6',right:'course_8',up:'course_2',down:''},
		{id:'course_8',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:'course_7',right:'course_9',up:'course_3',down:''},
		{id:'course_9',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:'course_8',right:'course_10',up:'course_4',down:''},
		{id:'course_10',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:'course_9',right:'',up:'course_5',down:''},
	];



window.onload=function()
{
	Epg.btn.init('small_class',buttons,true);
};
</script>

<!-- 左上角的栏目LOGO -->
<div class="ch_logo"></div>

<!-- 幼儿园大中小班 -->
<div id="div_small_class" style=" position: absolute;left:280px;top:70px;">
    <img id="small_class" src="__HD__/images/course/kinder/small_class.png" width="90" height="38" />
</div>
<div id="div_middle_class" style=" position: absolute;left:380px;top:70px;">
    <img id="middle_class" src="__HD__/images/course/kinder/middle_class.png" width="90" height="38" />
</div>
<div id="div_big_class" style=" position: absolute;left:480px;top:70px;">
    <img id="big_class" src="__HD__/images/course/kinder/big_class.png" width="90" height="38" />
</div>

<!-- 课程列表 -->
<volist name="courseList" id="course" key="i">
    <php>
        if($i > 5){
            $top = 415; $left = 80 + ($i-6)*225;
        }else{
            $top = 182; $left = 80 + ($i-1)*225;
        }
    </php>
    <div id="div_course_{$i}" title="{:U('SectionList/preschool')}" style="position:absolute;width:230px;height:210px;left:{$left}px;top:{$top}px;text-align:center;">
        <img id="course_{$i}" src="{$course['content']}" width="210" height="210">
    </div>
    <div id="div_course_{$i}_focus" style="position:absolute;visibility:hidden;width:230px;height:216px;left:{$left}px;top:{$top-3}px;text-align:center;">
        <img id="course_{$i}_focus" src="" width="216" height="216">
    </div>

    <!-- 底部背景投影图 -->
    <if condition="$i gt 5">
        <php>$left = 90 + ($i-6)*225;</php>
        <div class="shadow" style="left:{$left}px;"></div>
     </if>
</volist>