<layout name="layout" />
<style>
    body{ background-image:url(__HD__/images/usercenter/baseInfo/info_bg.jpg); }

/* 设置昵称  */
#nickname_set{
	position:absolute;
    display: block;
    width:138px;
    height:40px;
    top:100px;
    left:150px;	
    background-image:url(__HD__/images/usercenter/baseInfo/nickname_set.png);
}
</style>

<script type="text/javascript">

/* 页面可点击按钮  */
var buttons=
	[
		{id:'nickname',name:'nickname',action:'',linkImage:'',focusImage:'',right:'',down:'ok'},
		{id:'ok',name:'确定',action:'submit()',linkImage:'__HD__/images/usercenter/baseInfo/confirm_1.png',focusImage:'__HD__/images/usercenter/baseInfo/confirm_2.png',up:'nickname',down:''},
	];


window.onload=function()
{
	//Epg.tip('');//显示info信息，3秒后自动隐藏，如果info为空将不会显示
	Epg.btn.init('nickname',buttons,true);	
};

</script>

<a id="a_back" style="display:none;" href="{:get_back_url('Role/userInfo',1)}" ></a>

<!-- 静态图片 -->
<div id="nickname_set"></div>

<form id="form" action="{:U(Role/setNickname)}" method="post" style="padding:10px">
	<div id="div_nickname" style="position:absolute;left:150px;top:200px;">
		<input type="text" id="nickname" name="nickname" value="" style="width:160px;height:40px;font-size:30px;"/><br/><br/>
	</div>
</form>

<!-- 确定按钮 -->
 <div id="div_ok" style="position:absolute;width:140px;height:50px;left:150px;top:300px;">
    <img id="ok" title="" src="__HD__/images/usercenter/baseInfo/confirm_1.png" width="140" height="50">
</div>

<script type="text/javascript">

function submit(){
	G('form').submit();
}

</script>


