<layout name="layout" />
<style>
    body{ background-image:url(__HD__/images/usercenter/baseInfo/info_bg.jpg); }

/* 设置手机号  */
#phone_set{
	position:absolute;
    display: block;
    width:142px;
    height:41px;
    top:100px;
    left:150px;	
    background-image:url(__HD__/images/usercenter/baseInfo/phone_set.png);
}
</style>

<script type="text/javascript">

/* 页面可点击按钮  */
var buttons=
	[
		{id:'phone',name:'phone',action:'',linkImage:'',focusImage:'',right:'',down:'ok'},
		{id:'ok',name:'确定',action:'submit()',linkImage:'__HD__/images/usercenter/baseInfo/confirm_1.png',focusImage:'__HD__/images/usercenter/baseInfo/confirm_2.png',up:'phone',down:''},
	];


window.onload=function()
{
	//Epg.tip('');//显示info信息，3秒后自动隐藏，如果info为空将不会显示
	Epg.btn.init('phone',buttons,true);	
};

</script>


<!-- 静态图片 -->
<div id="phone_set"></div>

<form id="form" action="{:U(Role/setNickname)}" method="post" style="padding:10px">
	<div id="div_phone" style="position:absolute;left:150px;top:200px;">
		<input type="text" id="phone" name="phone" value="" style="width:200px;height:40px;font-size:30px;"/><br/><br/>
	</div>
</form>

<!-- 确定按钮 -->
 <div id="div_ok" style="position:absolute;width:140px;height:50px;left:150px;top:300px;">
    <img id="ok" title="" src="__HD__/images/usercenter/baseInfo/confirm_1.png" width="140" height="50">
</div>

<script type="text/javascript">

function submit(){
	G('form').submit();
}

</script>


