<layout name="layout" />
<script type="text/javascript" src="__COMMON__/js/play/play{:C('AREA_CODE')}.js?__CSSJS_VERSION__"></script>

<style type="text/css">

#div_lession{
    position:absolute;
    width:50px;
    height:48px;
    top:30px;
    left:40px;
    visibility:visible;
    background-image: url(__SD__/images/play/lession_bg.png);            
}

#div_control{
    position:absolute;
    width:166px;
    height:63px;
    top:320px;
    left:240px;
    visibility:visible;
    background-image: url(__SD__/images/play/control_bg.png);
}

#div_back{
    position:absolute;
    width:434px;
    height:287px;
    top:216px;
    left:423px;
    visibility:hidden;
    background-image: url(__SD__/images/play/back_bg.png);            	
}

#div_progress{
	position:absolute;
	width:510px;/* 1020px; */
    height:29px;
    top:400px;
    left:65px;/* 130px; */
    visibility:visible;
    background-image: url(__SD__/images/play/progress_bg.png);  
}

</style>

<script type="text/javascript">

var buttons =
    [
      /*播放控制按钮*/
      {id:'btn_pre', name:'', action:'', linkImage:'__SD__/images/play/btn_pre.png', focusImage: '__SD__/images/play/btn_pre_over.png', selectBox: '', right: 'btn_playOrPause', up: 'btn_exercise'},
      {id:'btn_playOrPause', name:'', action:'_playOrPause()', linkImage:'__SD__/images/play/btn_play.png', focusImage: '__SD__/images/play/btn_play_over.png', selectBox: '', left: 'btn_pre', right: 'btn_next', up: 'btn_exercise'},
      {id:'btn_next', name:'', action:'', linkImage:'__SD__/images/play/btn_next.png', focusImage: '__SD__/images/play/btn_next_over.png', selectBox: '', left: 'btn_playOrPause', up: 'btn_exercise'},
     
      /* 练习按钮   */
      {id:'btn_exercise', name:'', action:'', linkImage: '__SD__/images/play/btn_exercise.png', focusImage: '__SD__/images/play/btn_exercise_over.png', selectBox:'',down:'btn_playOrPause'},
     
      /*返回弹窗上的按钮*/
      {id:'btn_continue', name:'', action:'_continue()', linkImage:'__SD__/images/play/btn_continue.png', focusImage: '__SD__/images/play/btn_continue_over.png', selectBox: '',down: 'btn_quit'},
      {id:'btn_quit', name:'', action:'_quit()', linkImage:'__SD__/images/play/btn_quit.png', focusImage:'__SD__/images/play/btn_quit_over.png', selectBox: '',up: 'btn_continue'},
    ];
    
//视频资源列表    
var resources = {$resources};
var p_index = 0;

//是否有返回弹窗。
var hasWindow = false;

//菜单显示时间
var time = 5000;

var timer1;
var timer2;
    
/**
 * 播放/暂停
 */
function _playOrPause(){
	if(playStat == "play"){
		G('btn_playOrPause').src = "__SD__/images/play/btn_pause_over.png";
		buttons[1]['linkImage'] = '__SD__/images/play/btn_pause.png';
		buttons[1]['focusImage'] = '__SD__/images/play/btn_pause_over.png';
		pause();
	}else{
		G('btn_playOrPause').src = "__SD__/images/play/btn_play_over.png";
		buttons[1]['linkImage'] = '__SD__/images/play/btn_play.png';
		buttons[1]['focusImage'] = '__SD__/images/play/btn_play_over.png';
		resume();
	}
}

/**
 * 重写返回事件
 */
Epg.Button.defBack = function(){
	if(!hasWindow){
		clearTimeout(timer1);
		clearTimeout(timer2);
		S('div_back');
		hasWindow = true;
		Epg.Button.set('btn_continue');
		_playOrPause();
	}
}

/**
 * 继续观看
 */
function _continue(){
	H('div_back');
	hasWindow = false;
	Epg.Button.set('btn_playOrPause');
	timer1 = setTimeout("H('div_control')", time);
    timer2 = setTimeout("H('div_progress')", time);
	_playOrPause();
}

/**
 * 退出
 */
function _quit(){
	window.location.href = "{$returnUrl}";
	destoryMP();
}

//播放控制按键
Epg.key.set({KEY_PLAY_PAUSE:"_playOrPause_fun()"});
Epg.key.set({KEY_VOL_UP:"volUp()"});
Epg.key.set({KEY_VOL_DOWN:"volDown()"});
Epg.key.set({KEY_FAST_FORWARD:"fastForward_fun()"});
Epg.key.set({KEY_FAST_REWIND:"fastRewind_fun()"});

//播放或暂停
function _playOrPause_fun(){
	if(!hasWindow){
		S('div_control');
		Epg.Button.set('btn_playOrPause')
		clearTimeout(timer1);
		timer1 = setTimeout("H('div_control')", time);
		_playOrPause();
	}
}

//快进
function fastForward_fun(){
	if(!hasWindow){
		S('div_progress');
		clearTimeout(timer2);
		timer2 = setTimeout("H('div_progress')", time);
		setPlayTime();
		fastForward();
	}
}

//快退
function fastRewind_fun(){
	if(hasWindow == 0){
		S('div_progress');
		clearTimeout(timer2);
		timer2 = setTimeout("H('div_progress')", time);
		setPlayTime();
		fastRewind();
	}
}

//每秒执行一次，如果视频播放控制菜单是隐藏的，则把焦点定位到练习按钮上。
setInterval('isControl()',1000);
function isControl(){
	var o = G('div_control').style.visibility;
	if(o == 'hidden'){
		Epg.Button.set('btn_exercise');
	}
}

//填充视频播放的当前时间和总时间
var playTimer = setInterval('setPlayTime()',1000);
function setPlayTime(){
	var t1 = getCurrentTime();
	var t2 = getTotalTime();
	if((t1 >= t2) && (t1 != 0) && (t2 != 0)){ //播放完就播放下一个课时
		window.location.href = "{:U('Section/index?sectionId='.$nextSeciton.'&courseId='.$courseId)}";
		destoryMP();
	}
	
	setCurrentTime(t1);
	setTotalTime(t2);
	
	//计算进度条长度
	var w = parseInt((t1/t2)*560);
	G('progress_img').width = w;
	var l = 125 + w - 5;
	G('progress_point').style.left = l + 'px';
}

function setCurrentTime(t){
	var _t = formatTime(t);
	G('curr_time').innerHTML = _t;
}

function setTotalTime(t){
	var _t = formatTime(t);
	G('total_time').innerHTML = _t;
}



window.onload = function() {
    Epg.btn.init('btn_exercise', buttons, true);
    
    //视频播放
    //initPlayer();
    
    //显示视频播放控制菜单，进度条，5秒内没有操作则隐藏
    timer1 = setTimeout("H('div_control')", time);
    timer2 = setTimeout("H('div_progress')", time);
    setPlayTime();
}

</script>

<!-- 课堂\练习-->
<div id="div_lession"></div>
<if condition="$libId neq ''">
	<div id="div_btn_exercise" style="position:absolute;width:50px;height:48px;left:95px;top:30px;">
	    <img id="btn_exercise" title="{:U('Library/detail?sectionId='.$sectionId.'&courseId='.$courseId)}" src="__SD__/images/play/btn_exercise.png" width="50" height="48">
	</div>
</if>

<!-- 播放控制 -->
<div id="div_control">
	<!-- 上一集 -->
	<div id="div_btn_pre" style="position:absolute;width:14px;height:23px;left:25px;top:18px;z-index: 1000;">
	    <img id="btn_pre" title="{:U('Section/index?sectionId='.$prevSeciton.'&courseId='.$courseId)}" src="__SD__/images/play/btn_pre.png" width="14" height="23">
	</div>
	<!-- 播放暂停 -->
	<div id="div_btn_playOrPause" style="position:absolute;width:24px;height:36px;left:70px;top:10px;">
	    <img id="btn_playOrPause" src="__SD__/images/play/btn_play.png" width="24" height="36">
	</div>
	<!-- 下一集 -->
	<div id="div_btn_next" style="position:absolute;width:28px;height:31px;left:110px;top:15px;">
	     <img id="btn_next" title="{:U('Section/index?sectionId='.$nextSeciton.'&courseId='.$courseId)}" src="__SD__/images/play/btn_next.png" width="31" height="28">
	</div>
</div>

<!-- 播放时间定位 -->
<div id="div_progress">
	<div id="curr_time" style="position:absolute;top:5px;left:10px; width:110px;height:30px;text-align:center;z-index:99;font-size: 20px;color:#ffffff;">00:00:00</div>
	<div id="progress" style="position:absolute;top:15px;left:140px;z-index:99;">
		<img id="progress_img" src="__SD__/images/play/progress.png" width="0" height="10"/>
	</div>	
	<div id="progress_point" style="position:absolute;top:8px;left:125px;z-index:99;">
		<img id="progress_point_img" src="__SD__/images/play/progress_point.png" width="24" height="24" />
	</div>
	<div id="total_time" style="position:absolute;top:5px;left:710px; width:110px;height:30px;text-align:center;z-index:99;font-size: 20px;color:#ffffff;">00:00:00</div>
</div>

<!-- 返回弹窗 -->
<div id="div_back">
    <div id="div_btn_continue" style="position:absolute;width:146px;height:56px;left:60px;top:55px;">
        <img id="btn_continue" src="__SD__/images/play/btn_continue.png" width="146" height="56">
    </div>
    <div id="div_btn_quit" style="position:absolute;width:146px;height:56px;left:60px;top:130px;">
        <img id="btn_quit" src="__SD__/images/play/btn_quit.png" width="146" height="56">
    </div>
</div>  


<video src="http://121.201.104.244:8502/100011192.mp4" loop="loop"  autoplay width="640" height="530"></video>
