body {
	margin: 0;
	padding:0;
	width: 1280px;
	height: 720px;
	font-size: 18px;
	font-family: "Microsoft YaHei";
	background-repeat:no-repeat;
	color: #FFFFFF;
	background-color: #000000;
}
img {
	margin:0;
	padding:0;
	border: 0px;
}


a {	text-decoration:none; color:#fff;}
a:hover { color:#fff;}

.none	{ display:none;}

