body {
	margin: 0;
	padding:0;
	width: 1280px;
	height: 720px;
	font-size: 18px;
	font-family: "Microsoft YaHei";
	background-repeat:no-repeat;
	color: #FFFFFF;
	background-color: #000000;
}
img {
	margin:0;
	padding:0;
	border: 0px;
}


a {	text-decoration:none; color:#fff;}
a:hover { color:#fff;}

.none	{ display:none;}

.page td	{ height:26px; text-align:center;color:#000;font-weight: 600; font-size:22px;}
.page .up	{ width:64px;}
.page .down	{ width:64px;}
.page .now	{ width:150px;}

