<layout name="layout" />

<style>
    body{ background-image:url(__HD__/images/sectionList/primaryschool/bg.jpg); }
    
.page td	{ height:35px; text-align:center;color:#fff;font-weight: 300; font-size:20px;}
.page .up	{ width:32px;}
.page .down	{ width:32px;}
.page .now	{ width:88px;}    
</style>

<script type="text/javascript">

var buttons=
	[
		/* 上边 */
		{id:'btn_record',name:'',action:'',linkImage:'__HD__/images/sectionList/primaryschool/btn_record.png',focusImage:'__HD__/images/sectionList/primaryschool/btn_record_over.png',selectBox:'',right:'btn_favor',left:'',up:'',down:'section_1'},
		{id:'btn_favor',name:'',action:'',linkImage:'__HD__/images/sectionList/primaryschool/btn_favor.png',focusImage:'__HD__/images/sectionList/primaryschool/btn_favor_over.png',selectBox:'',right:'btn_order',left:'btn_record' ,down:'section_1',},
		{id:'btn_order',name:'',action:'',linkImage:'__HD__/images/sectionList/primaryschool/btn_order.png',focusImage:'__HD__/images/sectionList/primaryschool/btn_order_over.png',selectBox:'',right:['page_prev','page_next'],left:'btn_favor',up:'',down:['page_prev','page_next']},
		
		/* 分页按钮 */
		{id:'page_prev',name:'',action:'',linkImage:'__HD__/images/common/page/page_prev.png',focusImage:'__HD__/images/common/page/page_prev_over.png',selectBox:'',left:'btn_order',right:'page_next',down:['section_7'],up:'btn_order'},
    	{id:'page_next',name:'',action:'',linkImage:'__HD__/images/common/page/page_next.png',focusImage:'__HD__/images/common/page/page_next_over.png',selectBox:'',left:['page_prev','btn_order'],down:['section_7'],up:'btn_order'},
        
		/* 下边 */
		{id:'section_1',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_390x50.png',left:'',right:'section_7',up:'btn_record',down:'section_2'},
		{id:'section_2',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_390x50.png',left:'',right:'section_8',up:'section_1',down:'section_3'},
		{id:'section_3',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_390x50.png',left:'',right:'section_9',up:'section_2',down:'section_4'},
		{id:'section_4',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_390x50.png',left:'',right:'section_10',up:'section_3',down:'section_5'},
		{id:'section_5',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_390x50.png',left:'',right:'section_11',up:'section_4',down:'section_6'},
		{id:'section_6',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_390x50.png',left:'',right:'section_12',up:'section_5',down:''},
		
		{id:'section_7',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_390x50.png',left:'section_1',right:'',up:['page_prev','page_next'],down:'section_8'},
		{id:'section_8',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_390x50.png',left:'section_2',right:'',up:'section_7',down:'section_9'},
		{id:'section_9',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_390x50.png',left:'section_3',right:'',up:'section_8',down:'section_10'},
		{id:'section_10',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_390x50.png',left:'section_4',right:'',up:'section_9',down:'section_11'},
		{id:'section_11',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_390x50.png',left:'section_5',right:'',up:'section_10',down:'section_12'},
		{id:'section_12',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_390x50.png',left:'section_6',right:'',up:'section_11',down:''},
	];

/* 初始化按钮 属性   */
var initButtons = function(){}

window.onload=function()
{
	initButtons();
	popup();
	Epg.btn.init('btn_record',buttons,true);	
};
</script>

<a id="a_back" style="display:none;" href="{:get_back_url('Index/recommend',1)}" ></a>

<!-- 课程iconcourse_icon -->
<div id="div_course_icon" style="position:absolute;left:90px;top:80px;">
	<img src="{:get_upfile_url($course['imgUrl'])}" width="216" height="216">
</div>
<div style="position:absolute;left:90px;top:325px;">
	共{$total}课时<br>
	已有1000人在学习该课程
</div>

<!-- 继续观看 -->
<div id="div_btn_record" style="position:absolute;width:122px;height:38px;left:420px;top:230px;text-align:center;">
	<img id="btn_record"  src="__HD__/images/sectionList/primaryschool/btn_record.png" width="122" height="38">
</div>

<!-- 加入学习计划 -->
<div id="div_'btn_favor'" style="position:absolute;left:560px;top:230px;">
	<img id='btn_favor' title="ddd" src="__HD__/images/sectionList/primaryschool/btn_favor.png" width="159" height="38">
</div>	

<!-- 订购该课程 -->
<div id="div_btn_order" style="position:absolute;left:737px;top:230px;">
	<img id='btn_order' title="{:U('Order/index?courseId='.$course['id'])}" src="__HD__/images/sectionList/primaryschool/btn_order.png" width="147" height="38">
</div>

<!-- 观看记录 -->
<div style="position:absolute;width:180px;height:35px;left:510px;top:292px;text-align:left;">
	无观看记录
</div>

<!-- 课程标题 -->
<div style="position:absolute;width:740px;height:45px;left:425px;top:75px;text-align:left;">
	<font size="5"><b>{$course['name']}</b></font>
</div>

<!-- 课程简介 -->
<div style="position:absolute;width:740px;height:85px;left:425px;top:130px;text-align:left;">
	{$course['description']}
</div>

<!-- 分页 -->
<div style="position:absolute; left:1007px; top:275px;">
	{$pageHtml['pageHtml']}
</div>

<volist name='sections' id='section'>
	<php>
		if($i<=6){
			$left = 412; $top = ($i-1)*50+343;
		}else{
			$left = 817; $top = ($i-7)*50+343;
		}
	</php>
	<div id="div_section_{$i}" style="position:absolute;width:390px;height:50px;left:{$left}px;top:{$top}px;text-indent:20px; text-align:left;line-height:50px;">
		<span id="section_{$i}" title="{:U('Section/index?courseId='.$courseId.'&topicId='.$topicId.'&sectionId='.$section['id'].'&courseId='.$course['id'])}">{$section['name']}</span>
	</div>
	<div id="div_section_{$i}_focus" style="position:absolute;visibility:hidden; width:390px;height:50px;left:{$left+3}px;top:{$top-1}px;">
		<img id="section_{$i}_focus" src="" width='385' height='45'>
	</div>
	<div id="div_section_{$i}_free" style="position:absolute;width:46px;height:24px;left:{$left+320}px;top:{$top+4}px;">
		<img id="section_{$i}_free" src="__HD__/images/sectionList/primaryschool/free.png" width='46' height='24'>
	</div>
</volist>

