<layout name="layout" />
<style type="text/css">
   body{ background-image:url(__HD__/images/common/bg.jpg); }
   
.shadow{
   position: absolute;
   width:360px;
   height:50px;
   top:617px;
   background-image: url(__HD__/images/common/shadow/shadow_360x60.png);
}

#week{
    position:absolute;
	width: 66px;
	height: 21px;
	top: 100px;
	left:380px;
	background-image: url(__HD__/images/sectionList/preschool/week_{$week}.png);
}
</style>

<script type="text/javascript">

var buttons=
	[
		/* logo */	
		{id:'btn_logo',name:'logo',action:'',linkImage:'__HD__/images/sectionList/title_preschool.png',focusImage:'__HD__/images/sectionList/title_preschool_over.png',selectBox:'',right:'btn_week',down:'section_1'},
	
        /*本周课程*/
        {id:'btn_week',name:'',action:'',linkImage:'__HD__/images/sectionList/preschool/btn_week.png',focusImage:'__HD__/images/sectionList/preschool/btn_week_over.png',selectBox:'',left:'btn_logo',right:'btn_order',up:'',down:['section_5','section_4','section_3','section_2','section_1']},
		
        /* 订购按钮 */	
		{id:'btn_order',name:'订购',action:'',linkImage:'__HD__/images/common/order/btn_order.png',focusImage:'__HD__/images/common/order/btn_order_over.png',selectBox:'',left:'btn_week',down:['section_5','section_4','section_3','section_2','section_1']},
        
        /*课时列表*/
	 	{id:'section_1',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_210x300.png',left:'',right:'section_2',up:'btn_logo',down:'special_1'},
        {id:'section_2',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_210x300.png',left:'section_1',right:'section_3',up:'btn_week',down:'special_1'},
        {id:'section_3',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_210x300.png',left:'section_2',right:'section_4',up:'btn_week',down:['special_2','special_1']},
        {id:'section_4',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_210x300.png',left:'section_3',right:'section_5',up:'btn_week',down:['special_3','special_2','special_1']},
        {id:'section_5',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_210x300.png',left:'section_4',right:'special_1',up:'btn_order',down:['special_3','special_2','special_1']},
        
        /* 专题列表 */
        {id:'special_1',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_370x125.png',left:'',right:'special_2',up:'section_1',down:''},
		{id:'special_2',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_370x125.png',left:'special_1',right:'special_3',up:['section_3','section_2','section_1'],down:''},
		{id:'special_3',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_370x125.png',left:'special_2',right:'',up:['section_5','section_4','section_3','section_2','section_1'],down:''},
	];
    
/* 初始化按钮 属性   */
var initButtons = function(){
	
}

window.onload=function()
{
    initButtons();
    popup();
	Epg.btn.init('section_1',buttons,true);	
};
</script>

<a id="a_back" style="display:none;" href="{:get_back_url('Index/recommend',1)}" ></a>

<!-- 栏目LOGO -->
<div id="div_btn_logo" style="position:absolute;width:225px;height:91px;top:45px;left:85px;">
	<img id="btn_logo" src="__HD__/images/sectionList/title_preschool.png">
</div>

<!-- 星期 -->
<div id="week"></div>

<!-- 订购 -->
<div id="div_btn_order" style="position:absolute;width:90px;height:34px;top:100px;left:1105px;">
	<img id="btn_order" title="{:U('Order/index?courseId='.$courseId)}" src="__HD__/images/common/order/btn_order.png">
</div>

<!-- 本周课程 -->
<div id="div_btn_week" title="{:U('SectionList/week?courseId='.$courseId)}" style="position: absolute;width:138px;height:33px;left:950px;top:100px;">
	<img id="btn_week" src="__HD__/images/sectionList/preschool/btn_week.png" width="138" height="33" />
</div>

<!-- 课时列表 -->
<volist name="sections" id="section" key="i">
    <php>
         $top = 180; $left = 85 + ($i-1)*225;
    </php>
    <div id="div_section_{$i}" style="position:absolute;width:220px;height:310px;left:{$left}px;top:{$top}px;text-align:center;">
        <img id="section_{$i}" title="{:U('Section/index?sectionId='.$section['id'].'&courseId='.$courseId)}" src="{:get_upfile_url($section['imgUrl'])}" width="210" height="300">
    </div>
    <div id="div_section_{$i}_focus" style="position:absolute;visibility:hidden;width:230px;height:320px;left:{$left-5}px;top:{$top-5}px;text-align:center;">
        <img id="section_{$i}_focus" src="" width="220" height="310">
    </div>
</volist>

<!-- 专题列表 -->
<volist name="specialList" id="special" key="i">
    <php>
         $top = 500; $left = 85 + ($i-1)*375;
    </php>
    <div id="div_special_{$i}" style="position:absolute;width:370px;height:125px;left:{$left}px;top:{$top}px;text-align:center;">
        <img id="special_{$i}" title="{:U('SectionList/index?courseId='.$special['id'])}" src="{$t['linkImage']}" src="{:get_upfile_url($special['imgUrl'])}" width="360" height="115">
    </div>
    <div id="div_special_{$i}_focus" style="position:absolute;visibility:hidden;width:380px;height:135px;left:{$left-5}px;top:{$top-5}px;text-align:center;">
        <img id="special_{$i}_focus" src="" width="370" height="125">
    </div>
</volist>

<!-- 底部投影 -->
<for start="1" end="4" step="1">
	<php> $left = 90 + ($i-1)*375;</php>
	<div class="shadow" style="left:{$left}px;"></div>
</for>


