<layout name="layout" />
<style type="text/css">
    body{ background-image:url(__HD__/images/common/bg.jpg); }
    
    /* 左上角栏目logo */
    .ch_logo{
        position: absolute;
        display: block;
        top:60px;
        left:85px;
        width: 185px;
        height: 42px;
        background: url(__HD__/images/course/kinder/ch_logo.png) no-repeat;
    }
    
    /* 幼儿园哪个班 */
    .class{
        position: absolute;
        display: block;
        top:70px;
        left:285px;
        width: 54px;
        height: 29px;
        background: url(__HD__/images/course/kinder/class_{$class}_title.png) no-repeat;
    }
    
    
</style>

<script type="text/javascript">


var buttons=
	[
        /*一周课程*/
        {id:'week_course',name:'',action:'',linkImage:'__HD__/images/course/kinder/week_course.png',focusImage:'__HD__/images/course/kinder/week_course_over.png',selectBox:'',left:'',right:'video_1',up:'',down:'video_1'},
        
        /*视频列表*/
	 	{id:'video_1',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:'',right:'video_2',up:'',down:'special_1'},
        {id:'video_2',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:'video_1',right:'video_3',up:'',down:'special_1'},
        {id:'video_3',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:'video_2',right:'video_4',up:'week_course',down:['special_2','special_1']},
        {id:'video_4',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:'video_3',right:'video_5',up:'week_course',down:['special_3','special_2','special_1']},
        {id:'video_5',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:'video_4',right:'special_1',up:'week_course',down:['special_3','special_2','special_1']},
        
        /* 专题列表 */
        {id:'special_1',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:['video_5','video_4','video_3','video_2','video_1'],right:'special_2',up:'video_1',down:''},
		{id:'special_2',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:'special_1',right:'special_3',up:['video_3','video_2','video_1'],down:''},
		{id:'special_3',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/select_box_1.png',left:'special_2',right:'',up:['video_5','video_4','video_3','video_2','video_1'],down:''},
	];


window.onload=function()
{
	Epg.btn.init('week_course',buttons,true);	
};
</script>

<!-- 左上角的栏目LOGO -->
<div class="ch_logo"></div>

<!-- 幼儿园哪个班 -->
<div class="class"></div>

<!-- 一周课程 -->
<div id="div_week_course" title="{:U('Course/week')}" style="position: absolute;width:98px;height:40px;left:1090px;top:65px;">
        <img id="week_course" src="__HD__/images/course/kinder/week_course.png" width="98" height="40" />
</div>

<!-- 上面视频列表 -->
<volist name="videoList" id="video" key="i">
    <php>
         $top = 186; $left = 85 + ($i-1)*225;
    </php>
    <div id="div_video_{$i}" style="position:absolute;width:230px;height:210px;left:{$left}px;top:{$top}px;text-align:center;">
        <img id="video_{$i}" src="{$video['content']}" width="210" height="270">
    </div>
    <div id="div_video_{$i}_focus" style="position:absolute;visibility:hidden;width:230px;height:216px;left:{$left}px;top:{$top-3}px;text-align:center;">
        <img id="video_{$i}_focus" src="" width="216" height="276">
    </div>
</volist>

<!-- 下面专题列表 -->
<volist name="specialList" id="special" key="i">
    <php>
         $top = 476; $left = 95 + ($i-1)*375;
         $tipTop = 576;$tipLeft = 360 + ($i-1)*375;
    </php>
    <div id="div_special_{$i}" style="position:absolute;width:360px;height:150px;left:{$left}px;top:{$top}px;text-align:center;">
        <img id="special_{$i}" src="{$special['content']}" width="360" height="150">
    </div>
    <div id="div_special_{$i}_focus" style="position:absolute;visibility:hidden;width:230px;height:216px;left:{$left}px;top:{$top-3}px;text-align:center;">
        <img id="special_{$i}_focus" src="" width="360" height="150">
    </div>
</volist>