<layout name="layout" />

<style>

	body{ background-image:url(__HD__/images/common/bg.jpg); }
/* 用户信息背景底框 */
#bottom{
	position: absolute;
	display: block;
	width: 774px;
	height: 410px;
	top: 165px;
	left: 100px;
	background-image: url(__HD__/images/recentlyWatch/bottom.png);
}
/* logo */
#logo{
	position: absolute;
	display: block;
	width: 219px;
	height: 56px;
	top: 85px;
	left: 100px;
	background-image: url(__HD__/images/recentlyWatch/logo.png);
}
/* 推荐 */
#recommend{
	position: absolute;
	display: block;
	width: 116px;
	height: 25px;
	top: 110px;
	left: 965px;
	background-image: url(__HD__/images/recentlyWatch/view.png);
}

</style>

<script type="text/javascript">
	var img1 = '{$img_recommend1}';
	var img2 = '{$img_recommend2}';
	var count = {$count};
	var buttons = new Array(count+2);
	var colnum = 2;
	var focus = '{$focus}';//上个页面焦点位置
	function initbuttons()
	{
		for(var i=1; i<=count; i++)
		{
			obj = new Object();
			
			obj.id = 'option_' + i;
			obj.selectBox = "__HD__/images/freeZone/kuang_small.png";
			obj.resize = -1;
			obj.right = (i<count) ? 'option_'+(i+1) : '' ; 
			obj.left = (i>1) ? 'option_'+(i-1) : '' ; 
			obj.down = (i+colnum<=count) ? 'option_'+(i+colnum) : '';
			obj.up = (i-colnum>0) ? 'option_'+(i-colnum) : '' ; 
			obj.focusHandler='focusHandler()';
			obj.blurHandler='blurHandler()';
			
			if(i%colnum==0&&i<=8) obj.right = 'optionRecmd_1';
			if(i%colnum==0&&i>8) obj.right = 'optionRecmd_2';
			if(i==count&&i<=8) obj.right = 'optionRecmd_1';
			if(i==count&&i>8) obj.right = 'optionRecmd_2';
			buttons[i-1] = obj;
		}
/* 		if(count>=1) buttons[buttons.length-4-1]['down'] = 'page_prev';
		if(count>=2) buttons[buttons.length-4-2]['down'] = 'page_prev';
 */		
		buttons[buttons.length-2] = {id:'optionRecmd_1',linkImage:img1,selectBox:'__HD__/images/freeZone/kuang_big.png',resize:'-1',left:['option_4','option_2','option_1'],down:'optionRecmd_2'};		
		buttons[buttons.length-1] = {id:'optionRecmd_2',linkImage:img2,selectBox:'__HD__/images/freeZone/kuang_big.png',resize:'-1',left:['option_12','option_10','option_8','option_4','option_2','option_1'],up:'optionRecmd_1'};		
		
/* 		buttons[buttons.length-2] = {id:'page_prev',name:'',action:'',linkImage:'__HD__/images/common/page/page_prev.png',focusImage:'__HD__/images/common/page/page_prev_over.png',selectBox:'',right:'page_next',down:'',up:buttons[buttons.length-4-1]['id']};
		buttons[buttons.length-1] = {id:'page_next',name:'',action:'',linkImage:'__HD__/images/common/page/page_next.png',focusImage:'__HD__/images/common/page/page_next_over.png',selectBox:'',left:'page_prev',down:'',up:buttons[buttons.length-4-1]['id']};
 */
	}
	window.onload = function() {
		initbuttons();
		if(buttons.length == 2)
		{
			Epg.btn.init('optionRecmd_1', buttons, true);
		}
		else
		{
			Epg.btn.init(focus, buttons, true);
		}
	};
</script>

<a id="a_back" style="display:none;" href="{:get_back_url('Index/recommend',0)}" ></a>

<!-- 静态图片 -->
<div id="bottom"></div>
<div id="logo"></div>
<div id="recommend"></div>

<volist name ="datas" id ="data" key="i">
	<php>
		$left = 95 + (($i-1)%2)*414;
		$top = 160 + (ceil($i/2)-1)*60;
	</php>
	<div id="option_{$i}" style="position:absolute;visibility:hidden;left:{$left}px;top:{$top}px;text-align:center;">
		<img id="option_{$i}" title="{:U('Resource/play?sectionId='.$data['sectionId'].'&preFocus=option_'.$i)}" src="" width="370" height="60">
	</div>
	<div id="div_option_{$i}_focus" style="position:absolute;visibility:hidden;left:{$left}px;top:{$top}px;text-align:center;">
		<img id="option_{$i}_focus" title="" src="" width="370" height="60">
	</div>
	<!-- 文字 -->
	<!--<div style="position:absolute;width:330px;height:30px;left:{$left+20}px;top:{$top+10}px;line-height:30px;text-align:center;">
		<span >{$data['title']}</span>
	</div> -->
	<div id="option_{$i}_text" style="position:absolute;width:350px;height:37px;left:{$left+10}px;top:{$top+10}px;line-height:37px;text-align:left;">
		{$data['title']}
	</div>
</volist>

	<div id="div_optionRecmd_1" style="position:absolute;left:965px;top:165px;text-align:center;">
		<img id="optionRecmd_1" title="{:U('SectionList/index?courseId='.$id_recommend1.'&preFocus=optionRecmd_1')}" src="{$img_recommend1}" width="210" height="210">
	</div>
	<div id="div_optionRecmd_1_focus" style="position:absolute;visibility:hidden;left:960px;top:160px;text-align:center;">
		<img id="optionRecmd_1_focus" src="__HD__/images/freeZone/kuang_big.png" width="220" height="220">
	</div>
	<div id="div_optionRecmd_2" style="position:absolute;left:965px;top:395px;text-align:center;">
		<img id="optionRecmd_2" title="{:U('SectionList/index?courseId='.$id_recommend2.'&preFocus=optionRecmd_2')}" src="{$img_recommend2}" width="210" height="210">
	</div>
	<div id="div_optionRecmd_2_focus" style="position:absolute;visibility:hidden;left:960px;top:390px;text-align:center;">
		<img id="optionRecmd_2_focus" src="__HD__/images/freeZone/kuang_big.png" width="220" height="220">
	</div>

<script type="text/javascript">


//失去时焦点处理（目前主要用于栏目按钮）
function blurHandler(){
	//Epg.marquee.stop();
}

//获取焦点时处理（目前主要用于栏目按钮）
function focusHandler(){
	var id = Epg.btn.current.id + '_text';
	//Epg.marquee.start(16,id);
}


</script>
