<layout name="layout" />

<style>

	body{ background-image:url(__HD__/images/common/bg.jpg); }
/* 用户信息背景底框 */
#bottom{
	position: absolute;
	display: block;
	width: 1100px;
	height: 332px;
	top: 260px;
	left: 90px;
	background-image: url(__HD__/images/usercenter/detail/bottom.png);
}

/* 文字 */
#word{
	position: absolute;
	display: block;
	width: 184px;
	height: 28px;
	top:90px;
	left:95px;
	background-image: url(__HD__/images/usercenter/detail/word.png);
}

/* 分页 */
.page_prev{
	position:absolute;
	width:20px;
	height:26px;
	left:1065px;
	top:620px;
}
.text{
	position:absolute;
	width:80px;
	height:30px;
	left:1085px;
	top:620px;
	text-align:center;
}
.page_next{
	position:absolute;
	width:20px;
	height:26px;
	left:1165px;
	top:620px;
}

</style>

<script type="text/javascript">
	var buttons = [
	/* 栏目  */
	{id:'page_prev',name:'',action:'pageUp()',linkImage:'__HD__/images/common/page/page_prev.png',focusImage:'__HD__/images/common/page/page_prev_over.png',selectBox:'',right:'page_next',down:'',up:['wrong_3','wrong_2','wrong_1'],left:'ch_2'},
	{id:'page_next',name:'',action:'pageDown()',linkImage:'__HD__/images/common/page/page_next.png',focusImage:'__HD__/images/common/page/page_next_over.png',selectBox:'',left:'page_prev',down:'',up:['wrong_3','wrong_2','wrong_1']},

	];
	
	window.onload = function() {
		Epg.btn.init('page_next', buttons, true);
		
		//设置翻页键翻页事件
		Epg.key.set(
		{
			KEY_PAGE_UP:'pageUp()',
			KEY_PAGE_DOWN:'pageDown()',
		});
	};
	
	var url = "{:U('Learning/learningPreschool').'?page='}";
	//上一页
	function pageUp()
	{
		Epg.page(url,{$page}-1,{$pageCount});
	}

	//下一页
	function pageDown()
	{
		Epg.page(url,{$page}+1,{$pageCount});
	}
</script>


<!-- 静态图片 -->
<div id="bottom"></div>
<div id="word"></div>

<a id="a_back" style="display:none;" href="{:get_back_url('Index/recommend',0)}" ></a>


<!-- 课程名字 -->
<div style="position:absolute;left:290px;top:88px;width:250px;height:37px;line-height:37px;text-align:left;border-style:none">
	<span>{$courseName}</span>
</div>
<volist name="datas" id="data" key="i">
	<php>
		if($i%2==0)
		{
			$left = 650;
			$top= 270 + ($i/2-1)*55;
		}
		else
		{
			$left = 100;
			$top= 270 + (($i+1)/2-1)*55;
		}
	</php>
	<div style="position:absolute;left:{$left}px;top:{$top}px;width:180px;height:37px;line-height:37px;text-align:right;border-style:none">
		<span>{$data['name']}</span>
	</div>
	<div style="position:absolute; left:{$left+210}px; top:{$top+15}px;">
		<img src="__HD__/images/usercenter/detail/progressBottom.png" width="300" height="15">
	</div>
	<div style="position:absolute; left:{$left+210}px; top:{$top+15}px;">
		<img src="__HD__/images/usercenter/detail/progress.png" width="{$data['length']}" height="15">
	</div>
	
</volist>


<!-- 分页 -->
<!-- <div style="position:absolute; left:1030px; top:620px;">
	{$pageHtml}
</div> -->
{$pageHtml}
