<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="page-view-size" content="1280*720">
<title>{$pageTitle}</title>
<link rel="stylesheet" type="text/css" href="__HD__/css/common.css?__CSSJS_VERSION__">
<script type="text/javascript" src="__COMMON__/js/common.js?__CSSJS_VERSION__"></script>
<script type="text/javascript">
	//初始化常用按键
	keyCodes[8]	= keyCodes[126] = keyCodes[48]= keyCodes[640] = keyCodes[340] = "window.location=$('#a_back').href"; 		//返回按键
	keyCodes[33] = "window.location=$('#a_page_prev').href"; //上一页
	keyCodes[34] = "window.location=$('#a_page_next').href"; //下一页
	
	//设置光标颜色及宽度
	iPanel.defaultalinkBgColor = "#225cbb";//设置文字链接焦点颜色
	iPanel.defaultFocusColor = "#225cbb";  //设置图片链接焦点颜色
	iPanel.focusWidth = "4";			   //焦点框宽度
</script>
<style type="text/css">
.page td	{ height:26px; text-align:center;color:#000;font-weight: 600; font-size:22px;}
.page .up	{ width:64px;}
.page .down	{ width:64px;}
.page .now	{ width:150px;}
body,#restdiv{background-color: transparent;}
</style>
</head>
<body>
{__CONTENT__}
<div style="display:block;"><iframe id="connfreame" src="" style="width:0px; height:0px;" frameborder="0" ></iframe></div>
<script type="text/javascript">
  //初始化消息弹框及设置默认焦点
  setDefFocus();
  setConn("{:U('Misc/showMessage')}");
</script>
</body>
</html>
