<layout name="layout" />
<style>
    body{ background-image:url(__HD__/images/usercenter/baseInfo/info_bg.jpg); }

/* 设置兴趣  */
#sex_bg{
	position:absolute;
    display: block;
    width:143px;
    height:40px;
    top:100px;
    left:100px;	
    background-image:url(__HD__/images/usercenter/baseInfo/interesting.png);
}
/* 提示文字  */
#select_tip{
	position:absolute;
    display: block;
    width:427px;
    height:22px;
    top:110px;
    left:270px;	
    background-image:url(__HD__/images/usercenter/baseInfo/select_tip_2.png);
}
</style>

<script type="text/javascript">

var interest = {$json_interest};
/* 页面可点击按钮  */
var buttons=
	[
		{id:'music',name:'music',action:'select("music")',linkImage:'__HD__/images/usercenter/baseInfo/kuang_2.png',focusImage:'__HD__/images/usercenter/baseInfo/kuang_1.png',right:'draw',down:'animation'},
		{id:'draw',name:'draw',action:'select("draw")',linkImage:'__HD__/images/usercenter/baseInfo/kuang_2.png',focusImage:'__HD__/images/usercenter/baseInfo/kuang_1.png',left:'music',right:'handwriting',down:'movie'},
		{id:'handwriting',name:'handwriting',action:'select("handwriting")',linkImage:'__HD__/images/usercenter/baseInfo/kuang_2.png',focusImage:'__HD__/images/usercenter/baseInfo/kuang_1.png',left:'draw',right:'science',down:'writing'},
		{id:'science',name:'science',action:'select("science")',linkImage:'__HD__/images/usercenter/baseInfo/kuang_2.png',focusImage:'__HD__/images/usercenter/baseInfo/kuang_1.png',left:'handwriting',right:'dance',down:'handwork'},
		{id:'dance',name:'dance',action:'select("dance")',linkImage:'__HD__/images/usercenter/baseInfo/kuang_2.png',focusImage:'__HD__/images/usercenter/baseInfo/kuang_1.png',left:'science',down:'handwork'},

		{id:'animation',name:'animation',action:'select("animation")',linkImage:'__HD__/images/usercenter/baseInfo/kuang_2.png',focusImage:'__HD__/images/usercenter/baseInfo/kuang_1.png',right:'movie',down:'ok',up:"music"},
		{id:'movie',name:'movie',action:'select("movie")',linkImage:'__HD__/images/usercenter/baseInfo/kuang_2.png',focusImage:'__HD__/images/usercenter/baseInfo/kuang_1.png',left:'animation',right:'writing',down:'ok',up:"draw"},
		{id:'writing',name:'writing',action:'select("writing")',linkImage:'__HD__/images/usercenter/baseInfo/kuang_2.png',focusImage:'__HD__/images/usercenter/baseInfo/kuang_1.png',left:'movie',right:'handwork',down:'ok',up:"handwriting"},
		{id:'handwork',name:'handwork',action:'select("handwork")',linkImage:'__HD__/images/usercenter/baseInfo/kuang_2.png',focusImage:'__HD__/images/usercenter/baseInfo/kuang_1.png',left:'writing',down:'ok',up:"science"},
		
		
		{id:'ok',name:'确定',action:'submit()',linkImage:'__HD__/images/usercenter/baseInfo/confirm_1.png',focusImage:'__HD__/images/usercenter/baseInfo/confirm_2.png',up:'animation',down:''},
	];

var init_interests = function()
{
	for(var key in interest)
	{
		G(key+'ID').value=1;
		G('div_'+key+'_selected').style.visibility = 'visible';
	}
}

window.onload=function()
{
	init_interests();
	Epg.btn.init('music',buttons,true);	
};

</script>

<a id="a_back" style="display:none;" href="{:get_back_url('Role/userInfo',0)}" ></a>

<!-- 静态图片 -->
<div id="sex_bg"></div>
<div id="select_tip"></div>

<form id="form" action="{:U(Role/setSex)}" method="post" style="padding:10px">
	<volist name="interests" id="interest" key="i">
		<input type="hidden" id="{$interest}ID" name="{$interest}" value="0"/>
	</volist>
</form>

<volist name="interests" id="interest" key="i">
	<php>
		if($i > 5){
          	$top = 300; $left = 100 + ($i-6)*150;
       	}else{
           	$top = 200; $left = 100 + ($i-1)*150;
        }
	</php>

	<div id="div_{$interest}" style="position:absolute;left:{$left}px;top:{$top}px;">
		<img id="{$interest}" name="{$interest}" src="__HD__/images/usercenter/baseInfo/kuang_2.png" style="width:110px;height:50px;"/>
	</div>
	<div id="div_{$interest}_word" style="position:absolute;left:{$left}px;top:{$top}px;">
		<img id="{$interest}_word" name="{$interest}_word" src="__HD__/images/usercenter/baseInfo/word_{$interest}.png" style="width:110px;height:50px;"/>
	</div>
	<div id="div_{$interest}_selected" style="position:absolute;visibility:hidden;left:{$left+78}px;top:{$top+15}px;">
		<img id="{$interest}_selected" name="{$interest}_selected" src="__HD__/images/usercenter/baseInfo/right.png" style="width:28px;height:22px;"/>
	</div>
</volist>


<!-- 确定按钮 -->
<div id="div_ok" style="position:absolute;width:140px;height:50px;left:100px;top:400px;">
    <img id="ok" title="" src="__HD__/images/usercenter/baseInfo/confirm_1.png" width="140" height="50">
</div>

<script type="text/javascript">

function submit(){
	G('form').submit();
}

function select(interest)
{
	if(G('div_'+interest+'_selected').style.visibility == 'visible')
	{
		G('div_'+interest+'_selected').style.visibility = 'hidden';
		G(interest+'ID').value=0;
	}
	else
	{
		G('div_'+interest+'_selected').style.visibility = 'visible'
		G(interest+'ID').value=1;
	}

}

</script>








