<layout name="layout" />

<style>
    body{ background-image:url(__HD__/images/test/video/bj.jpg); }
    
</style>

<style type="text/css">
#div_left{
	position:absolute;
	width:185px;
	height:720px;
	top:0px;
 	left:0px;
	visibility:visible;
	background-image: url(__HD__/images/play/left_bg.png);
}

#div_top{
	position:absolute;
	width:1280px;
	height:150px;
	top:0px;
 	left:0px;
	visibility:visible;
}

</style>

<script type="text/javascript">
    var buttons=
	[
        /*左边按钮*/
	 	{id:'btn_pre',name:'',action:'',linkImage:'__HD__/images/play/btn_pre.png',focusImage:'__HD__/images/play/btn_pre_over.png',selectBox:'',left:'',right:['btn_preview','btn_lesson','btn_exercise'],up:'btn_preview',down:'btn_current'},
        {id:'btn_current',name:'',action:'',linkImage:'__HD__/images/play/btn_current.png',focusImage:'__HD__/images/play/btn_current_over.png',selectBox:'',left:'',right:['btn_preview','btn_lesson','btn_exercise'],up:'btn_pre',down:'btn_next'},
        {id:'btn_next',name:'',action:'',linkImage:'__HD__/images/play/btn_next.png',focusImage:'__HD__/images/play/btn_next_over.png',selectBox:'',left:'',right:['btn_preview','btn_lesson','btn_exercise'],up:'btn_current',down:''},
        
        /*上边按钮*/
        {id:'btn_preview',name:'',action:'',linkImage:'__HD__/images/play/btn_preview.png',focusImage:'__HD__/images/play/btn_preview_over.png',selectBox:'',left:['btn_pre','btn_current','btn_next'],right:'btn_lesson',up:'',down:''},
        {id:'btn_lesson',name:'',action:'',linkImage:'__HD__/images/play/btn_lesson.png',focusImage:'__HD__/images/play/btn_lesson_over.png',selectBox:'',left:['btn_preview','btn_pre','btn_current','btn_next'],right:'btn_exercise',up:'',down:''},
        {id:'btn_exercise',name:'',action:'',linkImage:'__HD__/images/play/btn_exercise.png',focusImage:'__HD__/images/play/btn_exercise_over.png',selectBox:'',left:['btn_lesson','btn_preview','btn_pre','btn_current','btn_next'],right:'',up:'',down:''},
    ];
    
    window.onload=function()
    {
        Epg.btn.init('btn_current',buttons,true);
    };
</script>    

<a id="a_back" style="display:none;" href="{:get_back_url('Index/recommend',1)}" ></a>

<!-- 页面左侧 -->
<div id="div_left">
	<!-- 上一集 -->
	<div id="div_btn_pre" style="position:absolute;width:135px;height:60px;left:35px;top:240px;">
		<img id="btn_pre" src="__HD__/images/play/btn_pre.png" width="125" height="50">
	</div>
	<!-- 正在学习 -->
	<div id="div_btn_current" style="position:absolute;width:135px;height:60px;left:35px;top:320px;">
		<img id="btn_current" src="__HD__/images/play/btn_current.png" width="125" height="50">
	</div>
	<!-- 下一集 -->
	<div id="div_btn_next" style="position:absolute;width:135px;height:60px;left:35px;top:400px;">
		<img id="btn_next" src="__HD__/images/play/btn_next.png" width="125" height="50">
	</div>
</div>

<!-- 页面上方 -->
<div id="div_top">
	<!-- 预习-->
	<div id="div_btn_preview" style="position:absolute;width:160px;height:60px;left:720px;top:50px;">
		<img id="btn_preview" src="__HD__/images/play/btn_preview.png" width="150" height="50">
	</div>
	<!-- 同步课堂-->
	<div id="div_btn_lesson" style="position:absolute;width:160px;height:60px;left:890px;top:50px;">
		<img id="btn_lesson" src="__HD__/images/play/btn_lesson.png" width="150" height="50">
	</div>
	<!-- 练习-->
	<if condition="$section['libId'] neq ''">
		<div id="div_btn_exercise" style="position:absolute;width:160px;height:60px;left:1060px;top:50px;">
			<img id="btn_exercise" title="{:U('Library/detail?sectionId='.$section['id'].'&topicId='.$section['topicId'])}" src="__HD__/images/play/btn_exercise.png" width="150" height="50">
		</div>
	</if>
</div>


<script type="text/javascript">

/**
 * 左侧菜单滚动效果
 */
function scrollMenu()
{
	var curId = Epg.btn.current.id;
	if(curId != 'btn_pre' && curId != 'btn_current' && curId != 'btn_next')
	{
		var divLeft = G('div_left');
		var left = divLeft.style.left.replace("px", "") 
		if(left > -185)
			left -= 20;
		divLeft.style.left = left + "px"; 
		//H('div_left');
		
		/* var divTop = G('div_top');
		divTop.style.top = "0px"; */
	}
	else
	{
		var divLeft = G('div_left');
		divLeft.style.left = "0px";  
		//S('div_left');
		
		/* var divTop = G('div_top');
		var top = divTop.style.top.replace("px", "") 
		if(top > -150)
			top -= 20;
		divTop.style.top = top + "px"; */
	}
}

setInterval('scrollMenu()',100);

var play = function()
{
	var rtsp = "rtsp://192.168.0.5:8554/videos/prog00000002a1270023000008654266.ts";
	Epg.Mp.init(true);//true表示启用默认的遥控器提示功能
	Epg.Mp.fullscreenPlay(rtsp);
}

//setTimeout("play()", 500);

</script>

