<layout name="layout" />

<style type="text/css">
   


</style>

<script type="text/javascript">
    var buttons=
	[
        /*左边按钮*/
	 	{id:'btn_pre',name:'',action:'',linkImage:'__HD__/images/play/btn_pre.png',focusImage:'__HD__/images/play/btn_pre_over.png',selectBox:'',left:'',right:'btn_preview',up:'btn_preview',down:'btn_current'},
        {id:'btn_current',name:'',action:'',linkImage:'__HD__/images/play/btn_current.png',focusImage:'__HD__/images/play/btn_current_over.png',selectBox:'',left:'',right:'',up:'btn_pre',down:'btn_next'},
        {id:'btn_next',name:'',action:'',linkImage:'__HD__/images/play/btn_next.png',focusImage:'__HD__/images/play/btn_next_over.png',selectBox:'',left:'',right:'',up:'btn_current',down:''},
        
        /*上边按钮*/
        {id:'btn_preview',name:'',action:'',linkImage:'__HD__/images/play/btn_preview.png',focusImage:'__HD__/images/play/btn_preview_over.png',selectBox:'',left:'btn_pre',right:'btn_lesson',up:'',down:'btn_pre'},
        {id:'btn_lesson',name:'',action:'',linkImage:'__HD__/images/play/btn_lesson.png',focusImage:'__HD__/images/play/btn_lesson_over.png',selectBox:'',left:'btn_preview',right:'btn_exercise',up:'',down:'btn_pre'},
        {id:'btn_exercise',name:'',action:'',linkImage:'__HD__/images/play/btn_exercise.png',focusImage:'__HD__/images/play/btn_exercise_over.png',selectBox:'',left:'btn_lesson',right:'',up:'',down:'btn_pre'},
    ];
    
    window.onload=function()
    {
        Epg.btn.init('btn_current',buttons,true);
    };
</script>    
