<layout name="layout" />

<style>
    body{ background-image:url(__HD__/images/common/order/order_bg.png); }
</style>


<script type="text/javascript">

var buttons=
	[
		{id:'btn_pay',name:'',action:'',linkImage:'__HD__/images/common/order/btn_pay.png',focusImage:'__HD__/images/common/order/btn_pay_over.png',selectBox:'',left:'',right:'btn_pay_2',up:'btn_pay_2',down:''},
		{id:'btn_pay_1',name:'',action:'',linkImage:'__HD__/images/common/order/btn_pay.png',focusImage:'__HD__/images/common/order/btn_pay_over.png',selectBox:'',left:'btn_pay',right:'',up:'',down:'btn_pay_2'},
		{id:'btn_pay_2',name:'',action:'',linkImage:'__HD__/images/common/order/btn_pay.png',focusImage:'__HD__/images/common/order/btn_pay_over.png',selectBox:'',left:'btn_pay',right:'',up:'btn_pay_1',down:'btn_pay'},
	];

/* 初始化按钮 属性   */
var initButtons = function(){}

window.onload=function()
{
	initButtons();
	Epg.btn.init('btn_pay',buttons,true);	
};
</script>

<a id="a_back" style="display:none;" href="{:get_back_url('Index/recommend',1)}" ></a>

<!-- 单课程单包月 -->
<div id="div_btn_pay" style="position:absolute;width:140px;height:45px;top:560px;left:460px;">
	<img id="btn_pay" title="{:U('Order/pay?courseId='.$course['id'])}" src="__HD__/images/common/order/btn_pay.png">
</div>
<div id="div_title" style="position:absolute;width:212px;height:31px;top:568px;left:120px;">
	<img id="title" src="__HD__/images/common/order/title_gradeone_1.png">
</div>

<!-- 全课程单包月 -->
<div id="div_btn_pay_1" style="position:absolute;width:140px;height:45px;top:225px;left:1000px;">
	<img id="btn_pay_1" title="{:U('Order/pay?courseId='.$course['id'])}" src="__HD__/images/common/order/btn_pay.png">
</div>

<!-- 全课程半年包 -->
<div id="div_btn_pay_2" style="position:absolute;width:140px;height:45px;top:285px;left:1000px;">
	<img id="btn_pay_2" title="{:U('Order/pay?courseId='.$course['id'])}" src="__HD__/images/common/order/btn_pay.png">
</div>
<div id="div_title_all" style="position:absolute;width:317px;height:72px;top:120px;left:800px;">
	<img id="title_all" src="__HD__/images/common/order/title_gradeone_all.png">
</div>
