<layout name="layout" />

<style>
    body{ background-image:url(__HD__/images/common/bg.jpg); }
</style>


<script type="text/javascript">

var buttons=
	[
		{id:'btn_pay',name:'',action:'',linkImage:'__HD__/images/common/order/btn_order.png',focusImage:'__HD__/images/common/order/btn_order_over.png',selectBox:'',left:'',right:'',up:'',down:''},
	];

/* 初始化按钮 属性   */
var initButtons = function(){}

window.onload=function()
{
	initButtons();
	Epg.btn.init('btn_pay',buttons,true);	
};
</script>

<a id="a_back" style="display:none;" href="{:get_back_url('Index/recommend',1)}" ></a>

<div style="position:absolute;width:280px; height: 120px;top:150px;left:500px;">
订购课程：{$course['name']}
</div>

<div id="div_btn_pay" style="position:absolute;width:90px;height:34px;top:300px;left:560px;">
	<img id="btn_pay" title="{:U('Order/pay?courseId='.$course['id'])}" src="__HD__/images/common/order/btn_order.png">
</div>