<layout name="layout" />

<script type="text/javascript">

var buttons =
    [
      /*左边按钮*/
      {id: 'btn_pre', name: '', action: 'prevPlay()', linkImage: '__HD__/images/play/btn_pre.png', focusImage: '__HD__/images/play/btn_pre_over.png', selectBox: '', left: '', right: 'btn_current', up: 'btn_exercise', down: ''},
      {id: 'btn_current', name: '', action: '', linkImage: '__HD__/images/play/btn_current.png', focusImage: '__HD__/images/play/btn_current_over.png', selectBox: '', left: 'btn_pre', right: 'btn_next', up: 'btn_exercise', down: ''},
      {id: 'btn_next', name: '', action: 'nextPlay()', linkImage: '__HD__/images/play/btn_next.png', focusImage: '__HD__/images/play/btn_next_over.png', selectBox: '', left: 'btn_current', right: '', up: 'btn_exercise', down: ''},
     
      /*游戏练习*/
      {id: 'btn_exercise', name: '', action: '', linkImage: '__HD__/images/play/btn_exercise.png', focusImage: '__HD__/images/play/btn_exercise_over.png', selectBox: '', left: '', right: '', up: '', down: 'btn_current'},
     
      /*返回弹窗上的按钮*/
      {id: 'btn_continue', name: '', action: 'continue()', linkImage: '__HD__/images/play/btn_continue.png', focusImage: '__HD__/images/play/btn_continue_over.png', selectBox: '', left: '', right: '', up: '', down: 'btn_no_see'},
      {id: 'btn_quit', name: '', action: 'quit()', linkImage: '__HD__/images/play/btn_quit.png', focusImage: '__HD__/images/play/btn_quit_over.png', selectBox: '', left: '', right: '', up: 'btn_see', down: ''},
    ];
    
    

</script>