<layout name="layout" />
<style>
    body{ background-image:url(__SD__/images/usercenter/baseInfo/info_bg.jpg); }

/* 设置兴趣  */
#logo{
	position:absolute;
    display: block;
    width:{$width_logo}px;
    height:30px;
    top:70px;
    left:75px;	
    background-image:url(__SD__/images/usercenter/mulchoice/{$type}.png);
}
/* 提示文字  */
#select_tip{
	position:absolute;
    display: block;
    width:214px;
    height:16px;
    top:75px;
    left:220px;	
    background-image:url(__SD__/images/usercenter/baseInfo/select_tip_2.png);
}
</style>

<script type="text/javascript">
var count = {$count_sub};
var subject_selected = {$json_selected};
var subjects = {$subjects_json};
var isEmpty = {$isEmpty};
var n = 5;//一行五列
/* 页面可点击按钮  */
var buttons= new Array(count+1);
var initButtons = function()
{
	for(var i=1; i<buttons.length; i++)
	{
		obj = new Object();
		
		obj.id = 'subject_' + i;
		obj.action = 'select("'  + i + '")';
		obj.linkImage = "__SD__/images/usercenter/mulchoice/kuang_1.png";
		obj.focusImage = "__SD__/images/usercenter/mulchoice/kuang_2.png";
		obj.left = 'subject_'+(i-1);
		obj.right = 'subject_'+(i+1);
		obj.up = 'subject_'+(i-n); 
		/* obj.down = (i+n)>count ? ( Math.ceil(i/n)==Math.ceil(count/n) ? 'ok' : 'subject_'+((Math.ceil(count/n)-1)*n+1) ) : 'subject_'+(i+n); //方法一 */
		obj.down = ['subject_'+(i+n), 'subject_'+((Math.ceil(i/n)-1)*n+(count%n)+n), 'ok'];//方法二
		
		buttons[i-1] = obj;
	}
	//ok up键值
	id = (Math.ceil(count/n)-1)*n+1;
	//第12个元素初始化为ok键
	buttons[count] = {id:'ok',action:'submit()',linkImage:'__SD__/images/usercenter/mulchoice/confirm_1.png',focusImage:'__SD__/images/usercenter/mulchoice/confirm_2.png',up:('subject_'+id),down:''};
}
//选中的显示对号
var init_subjects = function()
{
	for(var key in subject_selected)
	{
		G('form_'+key).value = subject_selected[key];
		G('div_'+key+'_selected').style.visibility = 'visible';
	}
}

window.onload=function()
{
	initButtons();
	init_subjects();
	if(isEmpty)
	{	
		Epg.btn.init('ok',buttons,true);	
	}
	else
	{
		Epg.btn.init('subject_1',buttons,true);	
	}
};

</script>

<a id="a_back" style="display:none;" href="{:get_back_url('Role/userInfo',0)}" ></a>

<!-- 静态图片 -->
<div id="logo"></div>
<div id="select_tip"></div>

<form id="form" action="{:U(Role/setSex)}" method="post" style="padding:10px">
	<volist name="subjects" id="subject" key="i">
		<input type="hidden" id="form_subject_{$i}" name="form_{$i}" value=""/>
	</volist>
	<input type="hidden" name="type" value="{$type}"/>
</form>

<volist name="subjects" id="subject" key="i">
	<php>
        $left = 75 + (($i-1)%5)*70;
        $top = 150 + (ceil($i/5)-1)*70;
	</php>
	
	<!-- 背景框，选中为青色，未选中为蓝色 -->
	<div id="div_subject_{$i}" style="position:absolute;left:{$left}px;top:{$top}px;">
		<img id="subject_{$i}" src="__SD__/images/usercenter/mulchoice/kuang_1.png" style="width:55px;height:37px;"/>
	</div>
	<!-- 科目文字 -->
	<div style="position:absolute;left:{$left}px;top:{$top}px;">
		<img   src="__SD__/images/usercenter/mulchoice/subject_{$subject}.png" style="width:55px;height:37px;"/>
	</div>
	<!-- 对勾，选中则显示√ -->
	<div id="div_subject_{$i}_selected" style="position:absolute;visibility:hidden;left:{$left+39}px;top:{$top+12}px;">
		<img id="subject_{$i}_selected" src="__SD__/images/usercenter/mulchoice/right.png" style="width:14px;height:16px;"/>
	</div>
</volist>


<!-- 确定按钮 -->
<div id="div_ok" style="position:absolute;left:75px;top:300px;">
    <img id="ok" title="" src="__SD__/images/usercenter/baseInfo/confirm_1.png" width="70" height="37">
</div>

<script type="text/javascript">

function submit(){
	G('form').submit();
}

var count_selected = {$count_selected};
var selected_array = new Array(4);
var type = '{$type}';
/* 初始化selected_array */
var i=0;
for(var key in subject_selected)
{	
	selected_array[i++] = subject_selected[key];
}
function select(subject)
{
	if(G('div_subject_'+subject+'_selected').style.visibility == 'visible')
	{
		G('div_subject_'+subject+'_selected').style.visibility = 'hidden';
		G('form_subject_'+subject).value = '';
		if(type != 'interests')
		{
			if(count_selected>0) count_selected--;
		}
	}
	else
	{
		G('div_subject_'+subject+'_selected').style.visibility = 'visible'
		G('form_subject_'+subject).value = subjects['subject_'+subject];
		
		if(type != 'interests')
		{
			count_selected++;	
			if(count_selected>4)
			{
				G('div_subject_'+selected_array[0]+'_selected').style.visibility = 'hidden';
				G('form_subject_'+selected_array[0]).value = '';
				count_selected--;
				for(i=0;i<selected_array.length-1;i++)
				{
					selected_array[i] = selected_array[i+1];
				}
				selected_array[selected_array.length-1] = subject;
			}
			else
			{
				selected_array[count_selected-1] = subject;
			}
		}

	}
	
}

</script>








