<layout name="layout" />

<style>

	body{ background-image:url(__HD__/images/usercenter/bg.jpg); }
/* 用户积分规则 */
#down{
	position: absolute;
	display: block;
	width: 800px;
	height: 260px;
	top: 340px;
	left: 390px;
	background-image: url(__HD__/images/usercenter/glory/down.png);
}
/* 用户等级 */
#up{
	position: absolute;
	display: block;
	width: 800px;
	height: 190px;
	top: 130px;
	left: 390px;
	background-image: url(__HD__/images/usercenter/glory/up.png);
}
/* 底部进度条 */
#progressBottom{
	position: absolute;
	display: block;
	width: 390px;
	height: 14px;
	top: 260px;
	left: 490px;
	background-image: url(__HD__/images/usercenter/glory/progress_bottom.png);
}


</style>

<script type="text/javascript">
	var faceNum = {$face};
	var channel = {$json_channel};
	var buttons = [
	/* 栏目  */
	{id:'ch_1',name:'',action:'',linkImage:'',focusImage:'',resize:'-1',selectBox:'',focusHandler:'focusHandler()',up:'changeNum',down:'ch_2',right:''}, 
	{id:'ch_2',name:'',action:'',linkImage:'',focusImage:'',resize:'-1',selectBox:'',blurHandler:'blurHandler()',up:'ch_1',down:'ch_3',right:''}, 
	{id:'ch_3',name:'',action:'',linkImage:'',focusImage:'',resize:'-1',selectBox:'',focusHandler:'focusHandler()',up:'ch_2',right:''},

	{id:'selectFace',name:'',action:'',linkImage:'__HD__/images/usercenter/baseInfo/face_'+faceNum+'.png',focusImage:'__HD__/images/usercenter/baseInfo/face_'+faceNum+'.png',selectBox:'__HD__/images/usercenter/leftNavigation/title_kuang.png',right:'nickname',up:'ch_3',down:'changeNum'},
	{id:'changeNum',name:'',action:'',linkImage:'__HD__/images/usercenter/leftNavigation/change_account.png',focusImage:'__HD__/images/usercenter/leftNavigation/change_account_over.png',selectBox:'',right:'sex',up:'selectFace',down:'ch_1'},

	{id:'viewAll',name:'',action:'',linkImage:'__HD__/images/usercenter/glory/view.png',focusImage:'__HD__/images/usercenter/glory/view_over.png',selectBox:'',left:'reward',up:'ch_1'},
	{id:'reward',name:'',action:'',linkImage:'__HD__/images/usercenter/glory/award.png',focusImage:'__HD__/images/usercenter/glory/award_over.png',selectBox:'',left:'ch_2',right:'viewAll',up:'ch_1'},
	
	];
	
	var initButtons = function()
	{
 		for(var i=0; i<channel.length; i++)
		{
			buttons[i].name = channel[i].name;
			buttons[i].linkImage = channel[i].linkImage;
			buttons[i].focusImage = channel[i].focusImage;
			buttons[i].titleImage = channel[i].titleImage;
		} 
	}
	window.onload = function() {
		initButtons();
		Epg.btn.init('ch_2', buttons, true);
	};
</script>


<!-- 静态图片 -->
<div id="down"></div>
<div id="up"></div>
<div id="progressBottom"></div>
<!-- <div id="word"></div> -->

<a id="a_back" style="display:none;" href="{:get_back_url('Index/recommend',0)}" ></a>


<!-- 以下是导航栏 -->
<volist name="channels" id="channel" key="i">
	<php>
     	$left = 0; $top = 340 + ($i-1)*70;
    </php>
    <div id="div_ch_{$i}" style="position:absolute;visibility:visible;left:{$left}px; top:{$top}px;">
		<img id='ch_{$i}' title="{$channel['linkUrl']}"
			src="{$channel['linkImage']}" width="290" height="70">
	</div>
</volist>

<!-- 选择头像  -->
<div id="div_selectFace" style="position:absolute;width:130px;height:170px;left:90px;top:80px;text-align:center;">
	<img id="selectFace" title="{:U('Role/selectFace')}" src="__HD__/images/usercenter/baseInfo/face_{$face}.png" width="130" height="170">
</div>
<div id="div_selectFace_focus" style="position:absolute;visibility:hidden;width:130px;height:170px;left:90px;top:80px;text-align:center;">
	<img id="selectFace_focus" title="" src="" width="125" height="165">
</div>
<!-- 切换账号  -->
<div id="div_changeNum" style="position:absolute;left:95px;top:260px;text-align:center;">
	<img id="changeNum" title="{:U('Role/changeNum')}" src="__HD__/images/usercenter/leftNavigation/change_account.png" width="120" height="35">
</div>

<!-- 当前进度 -->
<div  style="position:absolute; left:490px; top:260px;">
	<img  src="__HD__/images/usercenter/glory/progress.png" width="{$curProgress}" height="14">
</div> 

<!-- 查看全部按钮 -->
<div id="div_wiewAll" style="position: absolute; left:1070px; top:265px;">
	<img id='viewAll' title="{:U('Glory/view')}"
		src="__HD__/images/usercenter/glory/view.png" width="100" height="36">
</div>
<!-- 领取奖励 -->
<!-- <div id="div_reward" style="position: absolute; left:430px; top:520px;">
	<img id='reward' title=""
		src="__HD__/images/usercenter/glory/award.png" width="100" height="36">
</div> -->
<!-- 奖励图标 -->
<div style="position: absolute; left:940px; top:190px;">
	<img src="__HD__/images/usercenter/glory/gift_1.png" width="110" height="110">
</div>

<!-- 积分总数 -->
<div style="position: absolute; left:500px; top:160px;">
	<span style="font-size:37px">{$totalCredit}</span>
</div>
<!-- 今日获得积分 -->
<div style="position:absolute;left:598px;top:170px;width:160px;line-height:27px;height:27px;text-align:center;border-style:none;color:white"">
	<span>今日获得{$todayCredit}枚</span>
</div>

<!-- 当前等级 -->
<div style="position:absolute;left:415px;top:250px;text-align:center;">
		<img title="" src="__HD__/images/usercenter/glory/class/LV{$gloryClass}.png" width="61" height="32">
</div>

<!-- 当前总积分/下等级上限 -->
<div style="position:absolute;left:700px;top:225px;width:160px;line-height:27px;height:27px;text-align:right;border-style:none;color:white"">
	<span>{$classValue[0]}/{$classValue[1]}</span>
</div>

<script type="text/javascript">

//失去时焦点处理（目前主要用于栏目按钮）
function blurHandler(){
	if(Epg.btn.current.id != "ch_1" && Epg.btn.current.id != "ch_3"){
		G(Epg.btn.previous.id).src = Epg.btn.previous.titleImage;
	}
}

//获取焦点时处理（目前主要用于栏目按钮）
function focusHandler(){
	if(Epg.btn.current.id != "ch_2"){
		setTimeout("Epg.btn.click()",50);
	}
}

</script>

