<layout name="layout" />

<style>
    body{ background-image:url(__HD__/images/common/bg.jpg); }
    
/* 底部投影背景图 */
.shadow{
	position:absolute;
    display: block;
    width:210px;
    height:55px;
	top:615px;
    background-image:url(__HD__/images/common/shadow/shadow_210x60.png);
}
    
</style>

<script type="text/javascript">

//栏目object(json格式数据)
var channel = {$json_channel};
var json_class = {$json_class};

var buttons=
	[
	 	/* 栏目  */
		{id:'ch_1',name:'',action:'',linkImage:'',focusImage:'',selectBox:'',focusHandler:'focusHandler()',right:'ch_2',down:'class_1'},
		{id:'ch_2',name:'',action:'',linkImage:'',focusImage:'',selectBox:'',focusHandler:'focusHandler()',left:'ch_1',right:'ch_3',down:'class_1'},
		{id:'ch_3',name:'',action:'',linkImage:'',focusImage:'',selectBox:'',blurHandler:'blurHandler()',left:'ch_2',right:'search',down:'class_2'},

		/* 检索按钮 */
		//{id:'search',name:'',action:'',linkImage:'__HD__/images/Index/allCourse/btn_search.png',focusImage:'__HD__/images/index/allCourse/btn_search_over.png',selectBox:'',left:'ch_3',down:'class_4'},
		
		/* 顶级分类（二级栏目） */
		{id:'class_1',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'',right:'class_2',up:'ch_1',down:'class_6'},
		{id:'class_2',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'class_1',right:'class_3',up:'ch_3',down:'class_7'},
		{id:'class_3',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'class_2',right:'class_4',up:'ch_3',down:'class_8'},
		{id:'class_4',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'class_3',right:'class_5',up:['search','ch_3'],down:'class_9'},
		{id:'class_5',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'class_4',right:'',up:['search','ch_3'],down:'class_10'},
		{id:'class_6',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'',right:'class_7',up:'class_1',down:''},
		{id:'class_7',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'class_6',right:'class_8',up:'class_2',down:''},
		{id:'class_8',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'class_7',right:'class_9',up:'class_3',down:''},
		{id:'class_9',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'class_8',right:'class_10',up:'class_4',down:''},
		{id:'class_10',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'class_9',right:'',up:'class_5',down:''},
	];

/* 初始化按钮 属性   */
var initButtons = function(){
	//栏目
	for(var i=0; i<channel.length; i++)
	{
		buttons[i].name = channel[i].name;
		buttons[i].linkImage = channel[i].linkImage;
		buttons[i].focusImage = channel[i].focusImage;
		buttons[i].titleImage = channel[i].titleImage;
	}
	
	//顶级分类（二级栏目）
	for(var j=0; j<json_class.length; j++)
	{
		buttons[j+3].name = json_class[j].name;
		//buttons[j+3].linkImage = json_class[j].imgUrl;
	}
	
}


window.onload=function()
{
	initButtons();
	Epg.btn.init(['ch_3'],buttons,true);	
};
</script>

<a id="a_back" style="display:none;" href="{:get_back_url('Index/recommend',0)}" ></a>

<!-- 静态图片-底部投影效果 -->
<for start="1" end="6" step="1">
	<php> $left = 85 + ($i-1)*225;</php>
	<div class="shadow" style="left:{$left}px;"></div>
</for>

<!-- 顶部-栏目 -->
<volist name="topChannel" id="ch">
	<php>
		$left = 100 + ($i-1)*170; $top = 95;
	</php>
	<div id="div_ch_{$i}" style="position:absolute;visibility: visible;left:{$left}px;top:{$top}px;">
		<img id='ch_{$i}' title="{$ch['linkUrl']}" src="{$ch['linkImage']}" width="120" height="41">
	</div>
</volist>

<!-- 检索按钮 -->
<!-- <div id="div_search" style="position:absolute;width:130px;height:40px;left:1060px;top:60px;text-align:center;">
    <img id="search" title="" src="__HD__/images/Index/allCourse/btn_search.png" width="130" height="40">
</div> -->

<!-- 顶级分类（二级栏目） -->
<volist name="class" id="c" key="i">
    <php>
        if($i > 5){
            $top = 405; $left = 80 + ($i-6)*225;
        }else{
            $top = 180; $left = 80 + ($i-1)*225;
        }
    </php>
    <div id="div_class_{$i}" style="position:absolute;width:220px;height:220px;left:{$left}px;top:{$top}px;text-align:center;">
        <img id="class_{$i}" title="{$c['linkUrl']}" src="{$c['imgUrl']}" width="210" height="210">
    </div>
    <div id="div_class_{$i}_focus" style="position:absolute;visibility:hidden;width:230px;height:230px;left:{$left-5}px;top:{$top-5}px;text-align:center;">
        <img id="class_{$i}_focus" src="" width="220" height="220">
    </div>
</volist>


<script type="text/javascript">

//失去时焦点处理（目前主要用于栏目按钮）
function blurHandler(){
	if(Epg.btn.current.id != "ch_1" && Epg.btn.current.id != "ch_2"){
		G(Epg.btn.previous.id).src = Epg.btn.previous.titleImage;
	}
}

//获取焦点时处理（目前主要用于栏目按钮）
function focusHandler(){
	if(Epg.btn.current.id != "ch_3"){
		setTimeout("Epg.btn.click()",50)
	}
}

</script>


