<layout name="layout" />
<style type="text/css">
    body{ background-image:url(__HD__/images/common/bg.jpg); }
    
/* 底部投影背景图 */
.shadow{
	position:absolute;
    display: block;
    width:210px;
    height:55px;
	top:615px;
    background-image:url(__HD__/images/common/shadow/shadow_210x60.png);
}
</style>
<!--上面导航-->
<script type="text/javascript">

//栏目object(json格式数据)
var channel = {$json_channel};

var buttons=
	[
	 	/* 栏目  */
		{id:'ch_1',name:'',action:'',linkImage:'',focusImage:'',selectBox:'',focusHandler:'focusHandler()',right:'ch_2',down:['course_1','empty_course']},
		{id:'ch_2',name:'',action:'',linkImage:'',focusImage:'',selectBox:'',blurHandler:'blurHandler()',left:'ch_1',right:'ch_3',down:['course_1','empty_course']},
		{id:'ch_3',name:'',action:'',linkImage:'',focusImage:'',selectBox:'',focusHandler:'focusHandler()',left:'ch_2',down:['course_1','empty_course']},
        
        /* 当课程列表不为空 */
        {id:'course_1',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'ch_1',right:'course_2',up:'ch_1',down:'course_6'},
		{id:'course_2',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'course_1',right:'course_3',up:'ch_3',down:['course_7','course_6']},
		{id:'course_3',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'course_2',right:'course_4',up:'ch_3',down:['course_8','course_7','course_6']},
		{id:'course_4',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'course_3',right:'course_5',up:'ch_3',down:['course_9','course_8','course_7','course_6']},
		{id:'course_5',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'course_4',right:'',up:'ch_3',down:['course_10','course_9','course_8','course_7','course_6']},
		{id:'course_6',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'',right:'course_7',up:'course_1',down:''},
        {id:'course_7',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'course_6',right:'course_8',up:'course_2',down:''},
		{id:'course_8',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'course_7',right:'course_9',up:'course_3',down:''},
		{id:'course_9',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'course_8',right:'course_10',up:'course_4',down:''},
		{id:'course_10',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_220x220.png',left:'course_9',right:'',up:'course_5',down:''},
        
        /* 课程为空时选择课程 */
        {id:'empty_course',name:'',action:'',linkImage:'__HD__/images/index/myCourse/select_course.png',focusImage:'__HD__/images/index/myCourse/select_course_over.png',selectBox:'',up:'ch_1'},
	];

/* 初始化按钮 属性   */
var initButtons = function(){
	//栏目
	for(var i=0; i<channel.length; i++)
	{
		buttons[i].name = channel[i].name;
		buttons[i].linkImage = channel[i].linkImage;
		buttons[i].focusImage = channel[i].focusImage;
		buttons[i].titleImage = channel[i].titleImage;
	}
	
}

window.onload=function()
{
	initButtons();
	Epg.btn.init('ch_2',buttons,true);	
};
</script>

<a id="a_back" style="display:none;" href="{:get_back_url('Index/recommend',0)}" ></a>

<!-- 顶部-栏目 -->
<volist name="topChannel" id="ch">
	<php>
		$left = 100 + ($i-1)*170; $top = 95;
	</php>
	<div id="div_ch_{$i}" style="position:absolute;visibility: visible;left:{$left}px;top:{$top}px;">
		<img id='ch_{$i}' title="{$ch['linkUrl']}" src="{$ch['linkImage']}" width="120" height="41">
	</div>
</volist>

<!-- 课程背景图片 -->
<for start="1" end="11" name="j">
	<php>
	 	if($j > 5){
	        $t = 405; $l = 80 + ($j-6)*225;
	    }else{
	        $t = 180; $l = 80 + ($j-1)*225;
	    }
	</php>

	<div id="div_empty_png_{$j}" style="position:absolute;width:220px;height:220px;left:{$l}px;top:{$t}px;text-align:center;">
	    <img id="empty_png_{$j}" src="__HD__/images/index/myCourse/empty_bg.png" width="210" height="210">
	</div>
</for>

<!-- 静态图片-底部投影效果 -->
<for start="1" end="6" step="1">
	<php> $lt = 85 + ($i-1)*225;</php>
	<div class="shadow" style="left:{$lt}px;"></div>
</for>

<!-- 我的课程开始 -->
<if condition="count($myCourse) gt 0">
    <!-- 课程列表 -->
    <volist name="myCourse" id="c" key="i">
        <php>
            if($i > 5){
	            $top = 405; $left = 80 + ($i-6)*225;
	        }else{
	            $top = 180; $left = 80 + ($i-1)*225;
	        }
        </php>
        <div id="div_course_{$i}" title="{:U('SectionList/index?courseId='.$c['courseId'])}" style="position:absolute;width:220px;height:220px;left:{$left}px;top:{$top}px;text-align:center;">
            <img id="course_{$i}" src="{$c['courseImg']}" width="210" height="210">
        </div>
        <div id="div_course_{$i}_focus" style="position:absolute;visibility:hidden;width:230px;height:230px;left:{$left-5}px;top:{$top-5}px;text-align:center;">
            <img id="course_{$i}_focus" src="" width="220" height="220">
        </div>
    </volist>
<else /> 
	<!-- 当课程为空的时候提示去选择课程 -->
	<div id="div_empty_course" title="{:U('Index/allCourse')}" style="position:absolute;width:98px;height:40px;left:145px;top:335px;text-align:center;">
		<img id="empty_course" src="__HD__/images/index/myCourse/select_course.png" width="98" height="40">
	</div>
</if>
<!-- 我的课程结束 -->

<script type="text/javascript">

//失去时焦点处理（目前主要用于栏目按钮）
function blurHandler(){
	if(Epg.btn.current.id != "ch_1" && Epg.btn.current.id != "ch_3"){
		G(Epg.btn.previous.id).src = Epg.btn.previous.titleImage;
	}
}

//获取焦点时处理（目前主要用于栏目按钮）
function focusHandler(){
	if(Epg.btn.current.id != "ch_2"){
		setTimeout("Epg.btn.click()",50)
	}
}

</script>
