<layout name="layout" />

<style>
    body{ background-image:url(__HD__/images/common/bg.jpg); }
    
/* 最近观看背景图 */
#recently_saw_bg{
	position:absolute;
    display: block;
    width:210px;
    height:120px;
    top:495px;
    left:85px;	
    background-image:url(__HD__/images/index/recommend/recorder_bg.png);
} 

/* 底部投影背景图 */
.shadow{
	position:absolute;
    display: block;
    width:210px;
    height:54px;
	top:615px;
    background-image:url(__HD__/images/common/shadow_1.png);
}

</style>

<script type="text/javascript">

//栏目object(json格式数据)
var channel = {$json_channel};

var buttons=
	[
	 	/* 栏目  */
		{id:'ch_1',name:'',action:'',linkImage:'',focusImage:'',selectBox:'',right:'ch_2',down:['t_left_ad','role_info']},
		{id:'ch_2',name:'',action:'',linkImage:'',focusImage:'',selectBox:'',left:'ch_1',right:'ch_3',down:'t_left_ad'},
		{id:'ch_3',name:'',action:'',linkImage:'',focusImage:'',selectBox:'',left:'ch_2',down:'t_right_ad'},
		
		/* 广告 */
		{id:'t_left_ad',name:'',action:'',linkImage:'',focusImage:'',resize:'-1',selectBox:'__HD__/images/common/selectBox/select_box_210x210.gif',right:'t_right_ad',up:'ch_1',down:'role_info'},
		{id:'t_right_ad',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_210x320.gif',left:'t_left_ad',right:'tuijian_1',up:'ch_3',down:'t_bottom_ad'},
		{id:'t_bottom_ad',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_210x100.gif',left:'record_1',right:'tuijian_4',up:'t_right_ad',down:''},
		
		/* 推荐课程 */
		{id:'tuijian_1',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_210x210.gif',left:'t_right_ad',right:'tuijian_2',up:'ch_3',down:'tuijian_4'},
		{id:'tuijian_2',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_210x210.gif',left:'tuijian_1',right:'tuijian_3',up:'ch_3',down:'tuijian_5'},
		{id:'tuijian_3',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_210x210.gif',left:'tuijian_2',right:'',up:'ch_3',down:'tuijian_6'},
		{id:'tuijian_4',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_210x210.gif',left:'t_right_ad',right:'tuijian_5',up:'tuijian_1',down:''},
		{id:'tuijian_5',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_210x210.gif',left:'tuijian_4',right:'tuijian_6',up:'tuijian_2',down:''},
		{id:'tuijian_6',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_210x210.gif',left:'tuijian_5',right:'',up:'tuijian_3',down:''},
		
		/* 角色信息   */
		{id:'role_info',name:'',action:'',linkImage:'',focusImage:'',resize:'-1',selectBox:'__HD__/images/common/selectBox/select_box_210x210.gif',left:'',right:'t_right_ad',up:'t_left_ad',down:'record_1'},
		
		/* 最近观看记录 */		
		{id:'record_1',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_370x60.gif',left:'',right:'t_bottom_ad',up:'role_info',down:'record_2'},
		{id:'record_2',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_370x60.gif',left:'',right:'t_bottom_ad',up:'record_1',down:'record_3'},
		{id:'record_3',name:'',action:'',linkImage:'',focusImage:'',selectBox:'__HD__/images/common/selectBox/select_box_370x60.gif',left:'',right:'t_bottom_ad',up:'record_2',down:''},
	];

/* 初始化按钮 属性   */
var initButtons = function(){
	//栏目
	for(var i=0; i<channel.length; i++)
	{
		buttons[i].name = channel[i].name;
		buttons[i].linkImage = channel[i].linkImage;
		buttons[i].focusImage = channel[i].focusImage;
	}
	
}

window.onload=function()
{
	initButtons();
	Epg.btn.init('ch_1',buttons,true);	
};
</script>

<!-- 静态图片 -->
<div id="user_info_bg"></div>
<div id="recently_saw_bg"></div>
<for start="1" end="6" step="1">
	<php> $left = 85 + ($i-1)*225;</php>
	<div class="shadow" style="left:{$left}px;"></div>
</for>


<!-- 顶部-栏目 -->
<volist name="topChannel" id="ch">
	<php>
		$left = 100 + ($i-1)*150; $top = 95;
	</php>
	<div id="div_ch_{$i}" style="position:absolute;left:{$left}px;top:{$top}px;">
		<img id='ch_{$i}' title="{$ch['linkUrl']}" src="{$ch['linkImage']}" width="120" height="38">
	</div>	
</volist>

<!-- 页面左侧 -->
	<!-- 广告 -->
<div id="div_t_left_ad" style="position:absolute;width:220px;height:184px;left:80px;top:180px;text-align:center;">
	<img id="t_left_ad"  src="{$left_ad['content']}" width="210" height="174">
</div>
<div id="div_t_left_ad_focus" style="position:absolute;visibility: hidden;width:230px;height:194px;left:75px;top:175px;text-align:center;">
	<img id="t_left_ad_focus" src="" width="220" height="184">
</div>

<!-- 角色信息按钮 -->
<div id="div_role_info" style="position:absolute;width:220px;height:135px;left:85px;top:370px;">
	<img id="role_info"  title="{:U('Role/userInfo')}" src="__HD__/images/index/recommend/user_info_bg.jpg" width="210" height="125">
</div>
<div id="div_role_info_focus" style="position:absolute;visibility: hidden;width:220px;height:135px;left:79px;top:367px;text-align:center;">
	<img id="role_info_focus" src="" width="218" height="130">
</div>



<!-- 最近观看记录 -->
<volist name="record" id="r">
	<php>
		$left = 130; $top = 510 + ($i-1)*30;
	</php>
	<div id="div_record_{$i}" style="position:absolute;width:160px;height:30px;left:{$left}px;top:{$top}px;vertical-align: middle;">
		<span id="record_{$i}" title="">{$r['name']}</span>
	</div>	
	<div id="div_record_{$i}_focus" style="position:absolute;visibility: hidden;width:165px;height:30px;left:{$left-10}px;top:{$top-2}px;text-align:center;">
		<img id="record_{$i}_focus" src="" width="165" height="24">
	</div>
</volist>


<!-- 页面中间-课程 -->
<div id="div_t_right_ad" style="position:absolute;width:220px;height:330px;left:305px;top:180px;text-align:center;">
	<img id="t_right_ad" title="{:U('SectionList/index?chId='.$courses1[0]['chId'].'&stageId='.$courses1[0]['stageIds'].'&courseId='.$courses1[0]['id'])}"  src="{:get_upfile_url($courses1[0]['imgUrl'])}" width="210" height="320">
</div>
<div id="div_t_right_ad_focus" style="position:absolute;visibility: hidden;width:230px;height:340px;left:300px;top:175px;text-align:center;">
	<img id="t_right_ad_focus" src="" width="220" height="330">
</div>
<div id="div_t_bottom_ad" style="position:absolute;width:220px;height:110px;left:305px;top:515px;text-align:center;">
	<img id="t_bottom_ad" title="{:U('SectionList/index?chId='.$courses1[1]['chId'].'&stageId='.$courses1[1]['stageIds'].'&courseId='.$courses1[1]['id'])}" src="{:get_upfile_url($courses1[1]['imgUrl'])}" width="210" height="100">
</div>
<div id="div_t_bottom_ad_focus" style="position:absolute;visibility: hidden;width:230px;height:120px;left:300px;top:510px;text-align:center;">
	<img id="t_bottom_ad_focus" src="" width="220" height="110">
</div>


<!-- 页面右侧-推荐课程 -->
<volist name="courses2" id="course">
	<php>
		if($i > 3){
			$top = 405; $left = 530 + ($i-4)*225;
		}else{
			$top = 180; $left = 530 + ($i-1)*225;
		}
	</php>
	<div id="div_tuijian_{$i}" style="position:absolute;width:220px;height:220px;left:{$left}px;top:{$top}px;text-align:center;">
		<img id="tuijian_{$i}" title="{:U('SectionList/index?chId='.$course['chId'].'&stageId='.$course['stageIds'].'&courseId='.$course['id'])}" src="{:get_upfile_url($course['imgUrl'])}" width="210" height="210">
	</div>
	<div id="div_tuijian_{$i}_focus" style="position:absolute;visibility:hidden;width:230px;height:230px;left:{$left-5}px;top:{$top-5}px;text-align:center;">
		<img id="tuijian_{$i}_focus" src="" width="220" height="220">
	</div>
</volist>

